.space {
    flex: 1 1 auto;
  }

.marginleft{
    margin-right: 10%;
}

.tarjeta-credito {
    margin-top: 5% ;
    margin-left: 30%;
    width: 300px;
    height: 200px;    
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-image: url(/assets/img/firts-image-mastercard.svg),    
    radial-gradient(78.19% 240.01% at 69.19% 63.4%, #b556c7 10%, #53357d 100%);
  }
  
  .tarjeta-header {
    height: 40px;
    background-color: #ff4081;
  }
  
  .chip {
    width: 70px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .tarjeta-body {
    padding: 20px;
  }
  
  .numero-tarjeta {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .holder {
    display: flex;
    justify-content: space-between;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
  }
  
  span {
    font-size: 14px;
    color: #fff;
  }