.content{
    width: 100%;
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/firts-image-mastercard.svg),    
    radial-gradient(78.19% 240.01% at 69.19% 63.4%, #b556c7 10%, #53357d 100%);
    background-repeat: no-repeat;
    background-size: 120% 110%;
    border-radius: 10px;
    
}

.h1{
    color: #5d4284;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 900;
}

h2{
    color: #fff;
    font-weight:500;
}

:root{
    --color-primario: #3366FF;
}

.text-primario{
    color: var(--color-primario);
}
.btnLogin{
    background-color: var(--color-primario);
    color: #fff;
    font-weight:500;
    height:56px;
}
.btnLogin:hover{
    box-shadow: 5px 5px 10px #ccc;
    color: #fff;
}

.box-login{
    width: 45%;
    border-radius: 20px;
    border-color: #b556c7;
}
.link-custom a{
    text-decoration: none;
    font-weight: 500;
}

#icon-view-pass2{
    position: relative;
    top: 6px;
    z-index: 2;
    cursor: pointer;
}
#logochek{
    width: 40px;
}

.spinner-window{
    position: fixed;
    z-index: 9999999;
}

.spinner{
   display: block;
   background: rgba(255, 255, 255, 0);
   width: auto;
   height: 100%;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   margin-top: 21% !important;
   margin-left: 47% !important;
}

.spinnerdiv{   
    background: rgba(64, 64, 64, 0.4);   
    display: block;
    position: fixed;
    z-index: 9999999;
    width: auto;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
 }

 button[disabled]{
    border: 1px solid #53357d;
    background-color: #53357d;
    color: #ffffff;

  }